/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.heroBackground {
  background-color: #3d4451;
}

.heroTitle {
  color: #ebedf0;
  font-size: 3rem;
}

.heroSubTitle {
  color: #f5f6f7;
  font-size: 1.5rem;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
